*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border: 3px solid lightblue;
}
.header {
  width: 100%;
  height: 3.5rem;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  width: 100%;
  height: 2rem;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
}
.item {
  font-size: 2rem;
  background-color: whitesmoke;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.item svg:hover {
  color: red;
}
.item input {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.content {
  width: 100%;
  flex-grow: 1;
}
.itemName {
  flex-grow: 1;
}
.item input:focus + .itemName {
  text-decoration: underline;
}
.item input:checked + .itemName {
  text-decoration: line-through;
}
.addForm,
.searchItem {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  height: 2.5rem;
}
.addForm input,
.searchItem input {
  flex-grow: 1;
  font-size: 1.6rem;
}
.addForm label,
.searchItem label {
  display: none;
}
.addForm button:hover {
  width: 3rem;
  background-color: green;
}
.addForm button {
  width: 3rem;
}
